@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-poppins text-black;
  }
}



.mySwiperhero .swiper-slide.swiper-slide-active .toggle-text{
  display: flex;
}

.swiper-button-disabled {
  background-color: #474747;
}

.swiper-pagination-bullet {
  background-color: #474747;
}

html.dark .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}


html.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #2B5DDF;
}

.swiper-pagination-bullet-active {
  background-color: #2B5DDF;
}